/*Reset Styles */
body, li, img, a, .viewport{
  padding: 0;
  margin: 0;
  border: 0;
  font-family: arial, sans-serif;
  font-size: 13px;
}

.content{
  margin: 0 auto;
}

li{
  display: inline;
  list-style-type: none;
}

.nav-bar{
  height: 30px;
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
}

.nav-bar a, .footer a{
    color: grey;
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
}

.nav-bar a:hover, .footer a:hover{
  color: rgb(117, 117, 117);
  text-decoration: underline;
}

.top-nav-left, .ftr-left{
  padding-left: 15px;
  position: relative;
  margin-top: 10px;
  float: left;
  left: 0px;
}

.top-nav-right, .ftr-right{
  position: relative;
  float: right;
  padding-right: 15px;
}

.app-icon{
  position: relative;
  top: 7px;
}

.sign-on{
  font-size: 13px;
  font-weight: 700;
  height: 30px;
  width: 69.344px;
  line-height: normal;
}

.center{
  position: relative;
  text-align: center;
  top: 196px;
  margin-left: 237.5px;
  margin-right: 237.5px;
}

.logo{
  /*position: relative;
  top: 89px;*/
}

#mic{
  position: absolute;
  margin: 10px;
  right: 0px;
}

#mic:hover{
  cursor: pointer;
}

.search-box{
  position: relative;
  margin: 0 auto;
  margin-top: 35px;
  width: 480px;
  height: 44px;
  box-shadow: rgb(204, 204, 204) 0px 2px 2px 0px;
  border: 1px solid rgb(204, 204, 204);
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: none;
  border-radius: 3px;
}

.search-box:hover{
  box-shadow: rgb(204, 204, 204) 1px 4px 5px 0px
}

input{
  height: 34px;
  width: 403px;
  margin: 0 auto;
  display: block;
  padding-left: 10px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  /*line-height: normal;*/

}

input:focus{
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}


.search-buttons{
  position: relative;
  padding-top: 18px;
}

.srch-btn, .lucky{
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 13px;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 11px 4px 11px 4px;
  border: 1px solid #f2f2f2;
  color: rgb(117, 117, 117);
  border-radius: 2px;
}

button:hover{
  border: 1px solid rgb(204, 204, 204);
  color: black;
  box-shadow: 0px .4px 1px rgb(204, 204, 204)
}

button:active{
  border: none;
  box-shadow: none;
}

.footer{
  height: 40px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #f2f2f2;
  border-top: .1px solid rgb(230, 230, 230);
}

.ftr-right{
    margin-top: 10px;
}
